<app-title-breadcrumb
  [pageTitle]="'About'"
  [breadcrumb]="'About'"
></app-title-breadcrumb>
<!-- Start About Page  -->
<div class="about-box-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-frame">
          <img class="img-fluid" src="assets/images/bannerAbout.jpeg" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="noo-sh-title-top">
          We are <span>Quik Fix Computer Solutions</span>
        </h2>
        <br />
        <p>
          Established in 2020, Quik Fix Computer Solutions is known to be
          reliable wholesaler, trader and service provider of Security Cameras,
          Biometric System, Desktop Computer, Computer Parts, Branded Laptop,
          Laptop Parts, CCTV Camera Installation Service, Desktop,Laptop
          Repairing service and much more.
        </p>
        <br />
        <p>
          Our offered products are highly accepted by diverse enterprises and
          household users for their specifications such as easy usage,
          durability, longer service life and user-friendly operation.
          Furthermore, we are attaining new ladders of success by presenting our
          offered range of products at the pocket-friendly price range.
        </p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-sm-6 col-lg-4">
        <div class="service-block-inner">
          <h3>We are Trusted</h3>
          <p>
            At Quik Fix Computer Solutions, trust is at the core of our
            business. We have built a reputation for reliability and integrity,
            earning the trust of both enterprises and individual customers. Our
            commitment to delivering on promises is the foundation of our
            success.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="service-block-inner">
          <h3>We are Professional</h3>
          <p>
            We take pride in our professionalism. Our team of experts is
            dedicated to providing you with professional services and products.
            From security solutions to computer repairs, we maintain the highest
            standards of professionalism in every interaction.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="service-block-inner">
          <h3>We are Expert</h3>
          <p>
            Under the motivating guidance of Mr. Tanishq Uplap, who has immense
            experience in this industry, we have attained a strong position in
            this highly competitive industry. His latest strategies, transparent
            dealings and sharp business acumen have enabled us in attaining a
            huge client base across the nation.
          </p>
        </div>
      </div>
    </div>
    <div class="row my-1">
      <div class="card card-outline-secondary my-1">
        <div class="card-header">
          <h1>Why Us?</h1>
        </div>
        <div class="card-body">
          <div class="media mb-3">
            <div class="media-body">
              <p>
                Owing to the vast industrial knowledge, we are able to offer our
                clients a broad gamut of the offered range. Besides this, our
                moral business practices, contemporary strategies and
                comprehensive domain knowledge have facilitated us in garnering
                a huge clients’ base across the state. In addition, we allow
                flexible and diverse modes of payment for the convenience our
                clients. Some other reasons that help us in staying ahead of our
                competitors are as mentioned below:
              </p>
              Timely delivery <br />
              Client-centric approach <br />
              Transparent dealings
              <br />Quality range of products<br />
              Competitive prices <br />Hardworking team of experts
              <br />Sophisticated Packaging
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          <h1>BRANDS WE DEAL IN</h1>
        </div>
        <div class="card-body">
          <div class="media mb-3">
            <div class="media-body">
              <p>
                Owing to the vast industrial knowledge, we are able to offer our
                clients a broad gamut of the offered range. Besides this, our
                moral business practices, contemporary strategies and
                comprehensive domain knowledge have facilitated us in garnering
                a huge clients’ base across the state. In addition, we allow
                flexible and diverse modes of payment for the convenience our
                clients. Some other reasons that help us in staying ahead of our
                competitors are as mentioned below:
              </p>

              <div class="row my-5">
                <div class="col-sm-6 col-lg-3">
                  • Dell<br />
                  • Hp<br />
                  • D link <br />• Enter<br />
                  • Epson <br />• Sandisk <br />• Gigabyte <br />• Hikvision
                </div>
                <div class="col-sm-6 col-lg-3">
                  • Intex <br />• Kingston<br />
                  • Lenovo<br />
                  • LG<br />
                  • Linksys <br />• Logitech<br />
                  • Luminus<br />
                  • Netgear
                </div>
                <div class="col-sm-6 col-lg-3">
                  • I ball<br />
                  • Intel <br />• Artis<br />
                  • Net Protector <br />• Power <br />
                  • Samsung<br />
                  • Seagate<br />
                  • Secure Eye
                </div>
                <div class="col-sm-6 col-lg-3">
                  • Toshiba<br />
                  • TP Link<br />
                  • VIP<br />
                  • WD<br />
                  • Zebion<br />
                  • Zebronics<br />
                  • Microsoft<br />
                  • EVM<br />
                  • Philips and more
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About Page -->
</div>
