<app-title-breadcrumb
  [pageTitle]="'Terms of Service'"
  [breadcrumb]="'Terms of Service'"
></app-title-breadcrumb>

<section class="pt-2 pb-5 mt-5 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b> Service Evaluation and Quotation </b>
            </h1>
            <p class="text-left">
              Quotation made by our repair technicians is only an assessment
              based on the fault description you have provided to us via phone
              calls, SMS, and Mail. Our repair service is based on the
              conversation from the phone calls. There are cases that the price
              of the repair of the unit becomes higher than the estimated price.
              This usually occurs when the fault description provided to us was
              inaccurate, or in the event that we found other faults in your
              unit. When these instances occur you will be contacted personally
              to further discuss the details for the price of repair we find.
            </p>
            <br />
            <p class="text-left">
              All services are subject to a "minimum charge”. The minimum amount
              charged covers our repair specialist's time and any part used to
              diagnose to the unit. After a thorough inspection of the unit, the
              minimum charge will become due. The charges are<br />
              Mac Diagnosis - Rs. 1200/- <br />iPhone Diagnosis - Rs. 650/-
              <br />Android Diagnosis - Rs. 450/-
            </p>
            <br />
            <p class="text-left">
              When it would be cheaper for you to purchase a new device than to
              fix your old device, your device is "beyond economical repair” and
              we strongly suggest against repair. When we provide a new repair
              quotation and you refuse this quotation. Note, that return is
              subject to the diagnosis charges as per the device type. We may
              waive the minimum charges at our discretion, provided you give us
              permission to use the damaged unit for e-waste recycling.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Turn Around Time </b>
            </h1>
            <p class="text-left">
              Repair services usually take 1-3 days from the date they arrive at
              our service centre, this apart from the time taken to deliver the
              unit which is beyond our control. during peak season, a repair can
              take much longer to be fixed and processed. for individuals that
              require the unit back as quickly as possible, we strongly
              recommended that you collect your device after the job is done.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Repairs warranty </b>
            </h1>
            <p class="text-left">
              Most of our repair services carry 90 days limited warranty except
              for the following repairs:<br />
              Liquid damage repair - 30 days warranty.<br />
              Main board repair/ logic board repairs - 30 days warranty.<br />

              In the event repairs on your unit become faulty within the set
              warranty period, please send the unit back to us with a copy of
              the receipt or Ref No. and a detailed cover letter stating the
              current fault or error you are experiencing. We are not liable for
              the costs you incur in sending the unit to us. we will conduct a
              thorough investigation and respond within 3 working days. If the
              problem is not from the initial repair, we will contact you to
              discuss the matter and let you make, an informed decision with
              regard to the cost. We will attempt to repair your unit TWICE
              after the initial repair. If afterwards, the unit is still faulty,
              we will issue a refund. Minimum charge and postage fee not
              included. We will need to check the unit and make sure it's faulty
              prior to issuing a refund.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Unpaid Repairs </b>
            </h1>
            <p class="text-left">
              All units after they are either fixed or declared beyond the
              economical repair or require a re-quote will be held for 25 days
              maximum. We will make reasonable attempts to contact you by phone
              and email a minimum of 3 times. If no payment was received within
              25 days, the unit will be auctioned to recover the costs of
              repairs made.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Liquid damage Repairs</b>
            </h1>
            <p class="text-left">
              Liquid or Water damage repairs are carried out on a "best
              endeavours" only basis. The possibility of the original fault
              reappearing is high after the unit has been repaired and sometimes
              the fault can even get worse over a period of time. We offer only
              a 30-day warranty for water or liquid damage repair service.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>User's data and Information losses</b>
            </h1>
            <p class="text-left">
              We will do our best to retain all data your unit has, but we
              cannot be held responsible for any lost data including:<br />
              ringtones and audio files,<br />
              photos&videos, <br />
              contacts and Addresses, <br />
              Saved game data (for console)<br />
              favourite locations(for sat navs),<br />
              music(e.g mp3)& application<br />
              Please make certain that you have all important mobile data has a
              backup before sending it to us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Payments</b>
            </h1>
            <p class="text-left">
              We will notify you by email about payment once the repair has
              either been completed successfully or If the unit has been deemed
              beyond economical repair or you refuse a re-quote. <br />
              Cheque payments are subject to approximately 5 working days
              clearance delay. <br />
              We also accept payments via cards, bank transfers, and UPI
              payments. <br />
              Mistakes in bills, receipts or payments <br />
              Whilst we try our utmost to ensure accuracy in all that we do,
              mistakes occasionally do happen we will correct any mistakes made
              in bills, receipts or payments as soon as possible, and no later
              than 30 days after agreeing to do so.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Liquid damage Repairs</b>
            </h1>
            <p class="text-left">
              Liquid or Water damage repairs are carried out on a "best
              endeavours" only basis. The possibility of the original fault
              reappearing is high after the unit has been repaired and sometimes
              the fault can even get worse over a period of time. We offer only
              a 30-day warranty for water or liquid damage repair service.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Complaints </b>
            </h1>
            <p class="text-left">
              We always try to keep our customers delighted with our services
              and our complaint resolution system helps us to ensure that our
              customers are always satisfied even when things go wrong. If any
              complaints or suggestions please contact us either by email or
              WhatsApp. Upon receiving your complaint we will investigate to see
              what went wrong and resolve it to your satisfaction.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-2 pb-5 mt-0 align-items-center d-flex bg-white">
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div class="col-12 col-md-6 col-lg-10 h-50">
        <div class="card mt-0 shadow-lg bg-white">
          <div class="card-body mx-auto">
            <h1 class="card-title mt-3 text-center">
              <b>Legal Complaints</b>
            </h1>
            <p class="text-left">
              If you wish to file a legal complaint against us, you must do so
              in the state where the repair was performed. The laws of that
              state will govern your complaint, and we will not be able to
              participate in any legal proceedings that are filed in a different
              state.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
