<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
  <ul class="slides-container">
    <li class="text-center">
      <img src="assets/images/banner-1.jpg" alt="" />
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20">
              <strong
                >Welcome To <br />
                Quik Fix Computer Solutions</strong
              >
            </h1>
            <p class="m-b-40">
              Importer and Distributor For: Optical Fiber And Networking Racks,
              Wireless Products,
              <br />
              Patch Cords, Cisco Routers and Switches, Media Services, OFC
              accessories, Testing Equipments, <br />
              Broadband and ISP Solutions
            </p>
            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-center">
      <img src="images/banner-2.jpg" alt="" />
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20">
              <strong> IMPORTERS And DEALERS OF : </strong>
            </h1>
            <p class="m-b-40">
              LAPTOP SPARE PARTS .. KEYBOARDS ADAPTERS N BATTERIES ALL BRANDS
              AVAILABLE
            </p>
            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-center">
      <img src="assets/images/banner-3.jpg" alt="" />
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20">
              <strong> Computer,Network & CCTV Solutions. </strong>
            </h1>
            <p class="m-b-40">
              PC, Laptop Repair Services. Chip Level Repairs at best prices
              Power , IT & Security. Antivirus at wholesale prices Annual
              Maintainance Contract.
            </p>
            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="slides-navigation">
    <a href="#" class="next"
      ><i class="fa fa-angle-right" aria-hidden="true"></i
    ></a>
    <a href="#" class="prev"
      ><i class="fa fa-angle-left" aria-hidden="true"></i
    ></a>
  </div>
</div>
<!-- End Slider -->

<!-- Start Categories  -->
<div class="categories-shop">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" routerLink="/laptop">NEW LAPTOPS</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" href="#">REFURBISHED LAPTOP</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" href="#">NEW DESKTOP</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" href="#">REFURBISHED DESKTOP</a>
        </div>
      </div>
    </div>
    <!-- row1 -->
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" href="#">SERVICES</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" href="#">LAPTOP SPARES</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" href="#">CCTV</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="shop-cat-box">
          <img class="img-fluid" src="assets/images/l3.jpg" alt="" />
          <a class="btn hvr-hover" href="#">ANTIVIRUS SOFTWARE</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Categories -->

<div class="box-add-products">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="offer-box-products">
          <img class="img-fluid" src="assets/images/add-img-01.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="offer-box-products">
          <img class="img-fluid" src="assets/images/add-img-02.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
