<app-title-breadcrumb
  [pageTitle]="'Antivirus Renewal'"
  [breadcrumb]="'Antivirus Renewal'"
></app-title-breadcrumb>
<!-- new -->
<div class="latest-blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-all text-center">
          <h1>RENEWAL ANTIVIRUS</h1>
          <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
                amet lacus enim.
              </p> -->
        </div>
      </div>
    </div>

    <!-- row1 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar1.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar2.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar3.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row1 -->

    <!-- row2 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar4.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar5.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar6.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row2 -->

    <!-- row3 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar7.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar8.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar9.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row3 -->

    <!-- row4 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar10.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar11.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar12.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row4 -->

    <!-- row5 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar13.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar14.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar15.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row5 -->

    <!-- row6 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar16.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar17.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar18.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row6 -->

    <!-- row7 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar19.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar20.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar21.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row7 -->

    <!-- row8 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar22.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar23.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar24.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row8 -->

    <!-- row9 -->
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar25.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar26.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="blog-box">
          <div class="blog-img">
            <img
              class="img-fluid"
              src="assets/images/anti-renew/ar27.png"
              alt=""
            />
          </div>
          <div class="blog-content">
            <div class="title-blog">
              <h3>Colorful Stylish Shirt</h3>
              <p>$123.00</p>
              <div class="price-box-bar">
                <div class="cart-and-bay-btn">
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Buy New</a
                  >
                  <a class="btn hvr-hover" data-fancybox-close="" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row9 -->
  </div>
</div>
<!-- new -->
